<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Password reminder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h3 th:text="#{greeting(${name})}">
      Hello, Someone!
    </h3>

    <div>
      <span th:text="#{registering.user.email.info}"></span><br/>
      <a th:href="@{${link}}"><span th:text="${link}"></span> </a>.</b><br />
      <b th:text="#{registering.user.email.link.description}"></b><br/>
      <i th:text="#{email.end}"></i><br/>
      <i th:text="#{email.author}"></i>
    </div>

  </body>
</html>