<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Password reminder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h3 th:text="#{greeting(${name})}">
      Hello, Someone!
    </h3>
    <hr>
    <div>
       <span th:text="#{resetting.password.email.info}">Reset password email</span><br/>
       <a th:href="@{${link}}"><span th:text="${link}"></span>with some useful link</a>.</b><br />
       <b th:text="#{resetting.password.email.link.description}">You have 24h :)</b><br/>
       <p>
         <i th:text="#{email.end}">Cheers</i><br/>
         <i th:text="#{signature}">Kverchi</i>
       </p>
       <p><img src="https://pp.userapi.com/c840139/v840139719/cf20/WNmZCwimW8k.jpg" alt="We belong to the nature" height="200" width="350"></p>
    </div>
  </body>
</html>