body {
	/* padding-top: 60px;  60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.blog-footer {
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
    color: #999;
    padding: 40px 0;
    text-align: center;
}
hr.black-curl { 
	/* height: 30px; 
	border-style: solid; 
	border-color: black; 
	border-width: 1px 0 0 0; 
	border-radius: 20px; */
	height: 12px; 
	border: 0; 
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
	 }
hr.double-bold {
	border-top: 4px double #8c8b8b;
}
#carouselContent {
	clear: left;
	margin: 5px 0px 0px -110px;
}
/* Comment panel
   Thanks to jasonsyko and his example on bootsnipp
   http://bootsnipp.com/snippets/featured/user-comment-example 
*/
.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
	width: 108%;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}
#map {
	height: 450px;
}
.posts-header-container {
	height: 50px;
}
#header {
	background-image: url('/resources/img/header.png');
	background-repeat: no-repeat;
	height: 246px;
	background-size: cover;
	margin-left: 9%;
	margin-right: 9%;
	margin-bottom: 2%;
	color: #ffffff;
	position: relative;
}

.nav>li>a, .navbar-bottom a {
	color: rgb(254, 255, 4);
	font-size: 17px;
}
.navbar-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px 15px;
}
.profile-link {
	font-size: 15px;
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color: #5bc0de;
}
