<div class="alert alert-danger" [hidden]="!error">
  There was a problem with registration. Please try again.
</div><br>
<form role="form" (submit)="register()">
  <div class="form-group">
    <label for="username">Your <b>super name</b>:</label>
    <input type="text"
           class="form-control" id="username" name="username" [(ngModel)]="registrationForm.username"/>
  </div>
  <div class="form-group">
    <label for="password">Your <b>awesome password</b>:</label>
    <input type="password"
           class="form-control" id="password" name="password" [(ngModel)]="registrationForm.password"/>
  </div>
  <div class="form-group">
    <label for="password">Repeat your <b>awesome password</b>:</label>
    <input type="password"
           class="form-control" id="repeatPassword" name="password" [(ngModel)]="registrationForm.matchingPassword"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>