<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  
    
    <link href="../../../resources/carousel/sights_common.css" rel="stylesheet" media="screen" th:href="@{/resources/carousel/sights_common.css}"/>
	<link href="../../../resources/carousel/sights_special.css" rel="stylesheet" media="screen" th:href="@{/resources/carousel/sights_special.css}"/>
	<object th:include="include-res::links" th:remove="tag"/>
	<script src="../../../resources/carousel/jquery.cloud9carousel.js" th:src="@{/resources/carousel/jquery.cloud9carousel.js}"></script>
	
    <title th:text="${country.country_name}"></title>
  </head>
  <!-- <head th:include="include-res::links">
  </head> -->
  <body>
    <div th:replace="header :: header">&nbsp;</div>
    
    <div class="container">
    <p>hello</p>
    <h4>Hello world</h4>
    
	 <div class="container" th:if="${not #lists.isEmpty(country_sights)}">
     
     <div class="blog-header">
   		<p class="lead blog-description">Posts</p>
   	  </div>
   	  <p>This is example of table with data </p>
      <table id="crud-tbl" class="table table-striped">
			<thead>
				<tr>
					<th width="80">Post ID</th>
					<th width="120">Title</th>
					<th width="120">Text</th>
				</tr>
			</thead>
			<tbody>
				<tr class="clickable-row" th:each="sight: ${country_sights}">
					<td id="id" th:text="${sight.sight_id}"></td>
					<td th:text="${sight.sight_label}"></td>
					<td th:text="${sight.country_code}"></td>
					<td th:if="${not #lists.isEmpty(sight.sight_description)}" th:text="${sight.sight_description}"></td>
					<td class="row_action"><a href="#" th:text="Open"></a></td>
					
				</tr>
			</tbody>
		</table>
	  </div>
     
    <!--  <div id="carouselContent">
	 
	   <div id="wrap">
    	  <div id="showcase" class="noselect">
           
           	<div class="card" th:each="sight: ${country_sights}">
	     	    <h2 th:text="${sight.sight_label}"></h2>
	     	   	<img src="#" th:src="@{/resources/countryImg/} + ${country.img_path}"/>
	     		<p th:text="${sight.sight_description}"></p>
	     		<p><a href="#">Read more</a></p>
     	    </div>
     	    
     	  </div>
    	  <footer>
      		<p id="item-title">&nbsp;</p>
      		<div id="nav" class="noselect">
        	 <button class="left"> < </button>
             <button class="right"> > </button>
      		</div>
      		<hr>
     	  </footer>
  	   </div>
    </div> -->
     
    </div>
    
    <div class="blog-footer" th:replace="footer :: footer">&copy; Kverchi</div>
</body>
</html>