<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>
<body>
	<!-- Return button fragment -->
    <input class="btn pull-right btn-success" action="action" th:fragment="return" type="submit" onclick="history.go(-1);" th:value="#{return}" />
    <!-- Footer fragment -->
	<div class="blog-footer" th:fragment="footer">
        &copy; <span ${#dates.year(#dates.createNow())}></span><span th:text="#{signature}"></span>
    </div>

	<!-- Book fragment for pagination -->
	<div id="books-block" th:fragment="books-page">
		<span th:if="${not #lists.isEmpty(obj_list)}">
		  <input type="hidden" id="total-pages" th:value="${totalPages}"/>
			<table id="crud-tbl" class="table table-bordered">
				<thead>
					<tr>
						<th width="80" th:text="#{book.id}">Author</th>
						<th width="80" th:text="#{book.author}">Author</th>
						<th width="120" th:text="#{book.title}">Title</th>
						<th width="120" th:text="#{book.description}">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr class="clickable-row" th:each="book: ${obj_list}">
						<td th:text="${book.bookId}"></td>
						<td th:text="${book.author}"></td>
						<td th:text="${book.title}"></td>
						<td th:if="${not #lists.isEmpty(book.description)}" th:text="${book.description}"></td>
					</tr>
				</tbody>
		    </table>
		</span>
		<span th:if="${#lists.isEmpty(obj_list)}">
			<div>No books found.</div>
		</span>
	</div>
	<!-- Page fragment for pagination -->
    <div id="posts-block" th:fragment="page">
		<span th:if="${not #lists.isEmpty(posts)}">
			<input th:type="hidden" id="total-pages" th:value="${totalPages}"/>
			<div class="post" th:each="post: ${posts}">
				<!-- Each post -->
				<div class="panel">
					<div class="panel-heading">
						<div class="text-center">
							<div class="row">
								<div class="col-sm-9">
									<h4 class="pull-left" th:text="${post.title}">Welcome</h4>
								</div>
								<div class="col-sm-3">
									<p class="pull-right">
										by <a th:href="@{/users/profile/{user_id} (user_id=${post.user.userId})}"
											  th:text="${post.user.username}">someone</a>
										<small><em th:text="${#temporals.format(post.postDatetime, 'dd/MM/yyyy HH:mm')}">dd.dd.dd</em></small>
									</p>
								</div>
							</div>
						</div>
					</div>
	
					<div class="panel-body" th:utext="${post.description}">Description</div>
	
					<div class="panel-footer">
						<span><a href="#"
							th:href="@{/posts/single-post/{post_id}(post_id=${post.postId}) }">Read
								more</a></span>
						<span class="pull-right"><span th:text="#{sight}"></span>:
							<a th:href="@{/posts/sight/{sight_id}(sight_id=${post.countriesSight.sightId})}"
							   th:text="${post.countriesSight.label}"></a></span>
					</div>
				</div>
				<!-- end of post -->
			</div>
			</span>
		<span th:if="${#lists.isEmpty(posts)}">
			<div>No posts found.</div>
		</span>
	 </div>
	<!-- End of page fragment for pagination -->
</body>
</html>