<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="links">
	
    
	<script src="../../../resources/jquery-ui/external/jquery/jquery.js" th:src="@{/resources/jquery-ui/external/jquery/jquery.js}"></script>

    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/bootstrap/bootstrap.min.css}"/>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/bootstrap/bootstrap.min.js}"></script>

    <link href="../../../resources/jquery-ui/jquery-ui.min.css" rel="stylesheet" media="screen" th:href="@{/resources/jquery-ui/jquery-ui.min.css}"/>
    <script src="../../../resources/jquery-ui/jquery-ui.min.js" th:src="@{/resources/jquery-ui/jquery-ui.min.js}"></script>
        
    <link href="../../../resources/css/diary.css" rel="stylesheet" media="screen" th:href="@{/resources/css/diary.css}"/>
    <script src="../../../resources/js/diary.js" th:src="@{/resources/js/diary.js}"></script>
    
</head>
</html>