<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="include-res::links" th:remove="tag"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="../../../resources/js/websocket.js"
            th:src="@{/resources/js/websocket.js}"></script>
    <script src="../../../resources/js/messenger.js"
            th:src="@{/resources/js/messenger.js}"></script>
    <link href="../../../resources/css/chat.css" rel="stylesheet" media="screen" th:href="@{/resources/css/chat.css}"/>
    <script src="../../../resources/jQueryPagination/jquery.twbsPagination.min.js" th:src="@{/resources/jQueryPagination/jquery.twbsPagination.min.js}"></script>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Messeger</title>

</head>
<body>
<div th:replace="header :: header">&nbsp;</div>
<div id="main-content" class="container">

    <div sec:authorize="isAuthenticated()" id="username" th:text="${#authentication.name}" >none</div>
    <p th:text="${msgCount}"></p>
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">What is the name of your friend?</label>
                    <input type="text" id="name" class="form-control" placeholder="Friend name here...">
                </div>
                <button id="send" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <h3>Unread messages</h3>
        <div class="col-md-12">
            <table>
                <tr th:if="${not #lists.isEmpty(unreadMessages) and unreadMessages != null}"
                    th:each="unreadMsg: ${unreadMessages}" class="unread-msg">
                    <td>From: <span th:text="${unreadMsg.sender.userId}"></span></td> <td><span th:text="${unreadMsg.text}"></span></td>
                </tr>
            </table>
        </div>
    </div>

    <div th:replace="fragment/messenger :: inbox">
    </div>
    <div id="conversation"></div>
</div>
</body>
</html>