<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="include-res::links" th:remove="tag"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="../../../resources/js/websocket.js"
            th:src="@{/resources/js/websocket.js}"></script>
    <script src="../../../resources/js/messenger.js"
            th:src="@{/resources/js/messenger.js}"></script>
    <link href="../../../resources/css/chat.css" rel="stylesheet" media="screen" th:href="@{/resources/css/chat.css}"/>
    <script src="../../../resources/jQueryPagination/jquery.twbsPagination.min.js" th:src="@{/resources/jQueryPagination/jquery.twbsPagination.min.js}"></script>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Messeger</title>

</head>
<body>
<div th:replace="header :: header">&nbsp;</div>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row top-row-buffer">
                <div class="col-md-4 pull-right">
                    <a href="#" id="all-msgs">
                        <span th:text="#{user.profile.messages}">Messages</span>
                    <span id="total-unread-msg-counter">
                        <em th:if="${msgCount > 0}" th:text="'+' + ${msgCount}"></em>
                        <em th:if="${msgCount == 0}"></em>
                    </span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 top-row-buffer">
                    <form>
                       <!-- <div class="form-group">
                            <label for="name">Do you want to start a new conversation with someone?</label>
                            <input type="text" id="name" class="form-control" placeholder="Find user...">
                        </div>-->
                        <div class="form-group" th:include="fragment/search-panel :: searchUser"
                             th:with="authLabel=#{post.author}"></div>
                        <button id="new-conversation" class="btn btn-default pull-right" type="submit">Start conversation</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 top-row-buffer">
            <div th:replace="fragment/messenger :: inbox"></div>
        </div>
    </div>
</div>
</body>
</html>