<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <object th:include="include-res::links" th:remove="tag"/>
     <title>Recovering password</title>
  </head>

  <body>
    <div th:replace="header :: header">&nbsp;</div>
    
    <div class="container">
       <form class="form-horizontal" role="form" th:action="@{/users/update-password}" th:object="${newPasswordForm}" method="post">
			<fieldset>
				<legend>Recovering password</legend>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="textinput" th:text="*{username}"></label>
					<div class="col-sm-10">
						<input type="hidden" name="username" th:field="*{userId}"/>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="textinput">Password</label>
					<div class="col-sm-10">
						<input type="password" th:field="*{password}" id="password" placeholder="Password"
							class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="textinput">Repeat password</label>
					<div class="col-sm-10">
						<input type="password" id="matchingPassword"
							th:field="*{matchingPassword}"
							placeholder="Repeat password" class="form-control"
							onkeyup="checkPass(); return false;">
					</div>
				</div>
				<div class="form-group">
					<input class="btn btn-success" type="submit" name="submit" value="Reset">
				</div>
			</fieldset>
		</form>
    </div>
    
    <div class="blog-footer" th:replace="fragments :: footer">&copy; Kverchi</div>
  </body>
</html>