<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" ng-app="search">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <object th:include="include-res::links" th:remove="tag"/>

     <script src="../../../resources/jQueryPagination/jquery.twbsPagination.min.js" th:src="@{/resources/jQueryPagination/jquery.twbsPagination.min.js}"></script>
      <!--<script src="../../../resources/js/pagination.js" th:src="@{/resources/js/pagination.js}"></script>-->

    <title>Posts</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
  	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  </head>

  <body>
    <div th:replace="header :: header">&nbsp;</div>

    <div class="container" th:if="${currentSight.sight_label != null}">
        <h2 class="sight-label">
            <span class="label label-warning">
                <span th:text="#{posts.current.sight}" }></span> <span th:text="${currentSight.sight_label}"></span>
            </span>
        </h2>

    </div>

    <div class="container">
        <div>
            <form class="form-horizontal" role="form" name="searchForm" id="searchForm">
                <p class="validateTips" hidden th:text="#{search.datalist.error}"></p>
                <div th:include="fragment/search-panel :: searchCategory" th:with="catLabel=#{sight}"></div>
                <div th:include="fragment/search-panel :: searchUser" th:with="authLabel=#{post.author}"></div>
                <div th:include="fragment/search-panel :: searchInTextWithCheckBox" th:with="searchInText=#{search.in.text},
                searchOnlyTitle=#{search.only.title}"></div>
                <button type="submit" class="btn btn-primary" id="search-post-btn"><span th:text="#{submit}"></span></button>
            </form>
        </div>
        <div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-8">
			<div th:replace="fragments :: page"></div>
			<ul class="text-center pagination-sm" id="page-selection"></ul>
            <input type="hidden" th:if="${currentSight.sight_id != 0}" th:value="${currentSight.sight_id}" id="sight_id" />
		</div>
	</div>
    </div>
    <div class="container" sec:authorize="isAnonymous()">
        <h2 class="well" th:text="#{posts.invitation}">Log in and take opportunity to add your own experience and leave comments.</h2>

    </div>

	<div class="container" sec:authorize="isAuthenticated()">
        <h1 th:text="#{posts.exclamation}">Share your feelings!</h1>
        <p th:text="#{posts.intro}">Do you like to discover new places on Earth? Are you happy to learn something new?</p>
        <p th:if="${currentSight.sight_label != null}">
            <a class="btn btn-info btn-lg" href="/posts/save-post" role="button" th:text="#{posts.sight.create.new.link}">Create great post &raquo;</a>
        </p>
        <p th:if="${currentSight.sight_label == null}">
            <a class="btn btn-info btn-lg" href="/sights/gmap" role="button" th:text="#{posts.list.go.to.map.link}">Find great place on map and share with us your experience!</a>
        </p>
    </div>


	<div class="blog-footer" th:replace="fragments :: footer">&copy; Kverchi</div>

  </body>
</html>