<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" ng-app="search">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <object th:include="include-res::links" th:remove="tag"/>

     <script src="../../../resources/jQueryPagination/jquery.twbsPagination.min.js" th:src="@{/resources/jQueryPagination/jquery.twbsPagination.min.js}"></script>
      <!--<script src="../../../resources/js/pagination.js" th:src="@{/resources/js/pagination.js}"></script>-->

    <title>Posts</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
  	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  </head>

  <body>
    <div th:replace="header :: header">&nbsp;</div>

    <div class="container" th:if="${currentSight.label != null}">
        <h2 class="sight-label">
            <span class="label label-warning">
                <span th:text="#{posts.current.sight}" }></span> <span th:text="${currentSight.label}"></span>
            </span>
            <div class="row top-row-buffer">
                <div class="col-sm-1">
                    <span th:if="${ #authorization.expression('isAuthenticated()') != true}">
                        <label
                            th:replace="fragment/counter-buttons::wishedLabel"
                            th:with="wishCounter=${wishCounter}">
                        </label>
                    </span>
                    <span th:if="${ #authorization.expression('isAuthenticated()') and isWishedValueExists}">
                        <label
                            th:replace="fragment/counter-buttons::authWishedLabel"
                            th:with="wishCounter=${wishCounter}">
                        </label>
                    </span>
                    <span th:if="${ #authorization.expression('isAuthenticated()') and !isWishedValueExists}">
                        <button
                            th:replace="fragment/counter-buttons::addWishButton"
                            th:with="wishCounter=${wishCounter}">
                        </button>
                    </span>
                </div>

                <div class="col-sm-1">
                    <span th:if="${ #authorization.expression('isAuthenticated()') != true}">
                    <label
                            th:replace="fragment/counter-buttons::visitedLabel"
                            th:with="visitCounter=${visitCounter}">
                    </label>
                    </span>
                    <span th:if="${ #authorization.expression('isAuthenticated()') and isVisitedValueExists}">
                        <label th:replace="fragment/counter-buttons::authVisitedLabel"
                               th:with="visitCounter=${visitCounter}">
                        </label>
                    </span>

                    <span th:if="${ #authorization.expression('isAuthenticated()') and !isVisitedValueExists}">
                        <button
                            th:replace="fragment/counter-buttons::addVisitButton"
                            th:with="visitCounter=${visitCounter}">
                        </button>
                    </span>
                </div>

            </div>
        </h2>
    </div>

    <div class="container">

        <!-- Search panel -->
        <div class="row">
            <div class="col-md-13">
                <div class="form-section">
                    <form role="form" name="searchForm" id="searchForm">
                        <p class="validateTips" hidden th:text="#{search.datalist.error}"></p>
                        <div class="row bottom-row-buffer">


                                <div th:if="${currentSight.sightId == 0}"
                                     th:include="fragment/search-panel :: searchCategory"
                                     th:with="catLabel=#{sight}"></div>


                                <div th:include="fragment/search-panel :: searchUser"
                                     th:with="authLabel=#{post.author}"></div>



                                <div th:include="fragment/search-panel :: searchInTextWithCheckBox"
                                     th:with="searchInText=#{search.in.text}, searchOnlyTitle=#{search.only.title}"></div>



                                <div th:if="${currentSight.sightId == 0}"
                                     th:include="fragment/search-panel :: filterSights"></div>


                            <div class="col-md-1 top-row-buffer">
                                <button type="submit" id="search-post-btn" class="btn btn-default btn-primary">
                                    <span class=" glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>

                        <!--<div class="row bottom-row-buffer">
                        </div>
                        <div class="row">
                        </div>-->
                    </form>
                </div>
            </div>
        </div>
        <!-- end of search panel -->

        <div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-8">
			<div th:replace="fragments :: page"></div>
			<ul class="text-center pagination-sm" id="post-pagination"></ul>
            <input type="hidden" th:if="${currentSight.sightId != 0}" th:value="${currentSight.sightId}" id="sight-id" />
		</div>
	</div>
    </div>
    <div class="container" sec:authorize="isAnonymous()">
        <h2 class="well" th:text="#{posts.invitation}">Log in and take opportunity to add your own experience and leave comments.</h2>

    </div>

	<div class="container" sec:authorize="isAuthenticated()">
        <h1 th:text="#{posts.exclamation}">Share your feelings!</h1>
        <p th:text="#{posts.intro}">Do you like to discover new places on Earth? Are you happy to learn something new?</p>
        <p th:if="${currentSight.label != null}">
            <a class="btn btn-info btn-lg" href="/posts/save-post" role="button" th:text="#{posts.sight.create.new.link}">Create great post &raquo;</a>
        </p>
        <p th:if="${currentSight.label == null}">
            <a class="btn btn-info btn-lg" href="/sights/gmap" role="button" th:text="#{posts.list.go.to.map.link}">Find great place on map and share with us your experience!</a>
        </p>
    </div>


	<div class="blog-footer" th:replace="fragments :: footer">&copy; Kverchi</div>

  </body>
</html>