<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <object th:include="include-res::links" th:remove="tag"/>
    <script src="../../../resources/bootpag/jquery.bootpag.min.js" th:src="@{/resources/bootpag/jquery.bootpag.min.js}"></script>
    <script src="../../../resources/js/pagination.js" th:src="@{/resources/js/pagination.js}"></script>
    <title>Posts</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
  	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  </head>

  <body>
    <div th:replace="header :: header">&nbsp;</div>
    <div class="posts-header-container">
    </div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-6">
			<div th:replace="fragments :: page"></div>
			<div class="text-center" id="page-selection"></div>
		</div>
	</div>
	<div class="container">
        <h1>Share your feelings!</h1>
        <p>Do you like to discover new places on Earth? Are you happy to learn something new?</p>
        <p><a class="btn btn-primary btn-lg" href="new-post" role="button">Create great post &raquo;</a></p>
    </div>
      
	<div class="blog-footer" th:replace="fragments :: footer">&copy; Kverchi</div>

  </body>
</html>