<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" ng-app="profile">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <object th:include="include-res::links" th:remove="tag"/>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>

    <script type="text/javascript" th:src="@{/resources/js/app.js}"></script>

    <title>Profile</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
<div th:replace="header :: header">&nbsp;</div>

<div class="container">

    <!-- Profile snippet took from https://bootsnipp.com/snippets/featured/user-profile-sidebar. Prepeard by keenthemes -->
    <div class="row profile">

        <!-- Modal form -->
        <div class="modal fade" id="modal-form" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="padding:40px 50px;">
                        <div class="row">

                            <form class="form-horizontal" role="form">
                                <fieldset>

                                    <!-- Form Name -->
                                    <legend th:text="#{user.info.edit}">Edit info</legend>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                                <textarea rows="4" cols="50" id="edit-info" placeholder="Say something"
                                                          class="form-control">
                                                </textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-default" id="modal-form-cancel-btn"
                                                        th:text="#{cancel}">Cancel
                                                </button>
                                                <button type="submit" class="btn btn-primary" id="modal-form-save-info-btn"
                                                        th:text="#{submit}">Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div><!-- /.row -->
                    </div>
                </div>
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal fade -->
        <!-- End of modal form -->

        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name" id="profile-username" th:text="${user.username}">
                        John Doe
                    </div>
                    <div class="profile-usertitle-role" th:if="${ user.username == #authentication.name}">
                        <span th:each="role: ${user.roles}">
                            <em th:text="${role.role}"></em>
                        </span>
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons" th:if="${ user.username != #authentication.name}">
                    <button type="button" class="btn btn-success btn-sm" th:text="#{user.profile.add.friend}">Become friends </button>
                    <button type="button" class="btn btn-info btn-sm top-row-buffer" th:text="#{user.profile.message}">Say something</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu" th:if="${ user.username == #authentication.name}">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-user">
                                </i>
                                <span th:text="#{user.profile.friends}">Friends</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-envelope">
                                </i>
                                <span th:text="#{user.profile.messages}">Messages</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div ng-controller="UserMenuCtrl" ng-cloak>

                <md-content class="md-padding">
                    <md-nav-bar
                            md-no-ink-bar="disableInkBar"
                            md-selected-nav-item="currentNavItem"
                            nav-bar-aria-label="navigation links">
                        <md-nav-item md-nav-click="goto('info')" name="info">
                            <span th:text="#{user.top.nav.info}">Info</span>
                        </md-nav-item>

                        <md-nav-item th:if="${ user.username == #authentication.name}"
                                     md-nav-click="goto('statistic')" name="statistic">
                            <span th:text="#{user.top.nav.account.activity}">Account activity</span>
                        </md-nav-item>
                        <md-nav-item md-nav-click="goto('favorite')" name="favorite">
                            <span th:text="#{user.top.nav.favorite}">Favorite</span>
                        </md-nav-item>

                    </md-nav-bar>
                    <div id="nav-bar-content">
                        <div th:replace="fragment/user-menu::userInfo"></div>
                    </div>

                </md-content>
            </div>



            <!--<div class="profile-content">
                <div id="user-info">
                    <div th:if="${!#lists.isEmpty(user.information)}" th:text="${user.information}"></div>
                    <div th:if="${#lists.isEmpty(user.information)}">No information found</div>
                </div>
                <input id="update-info-btn" class="ui-button ui-widget ui-corner-all" type="submit" value="Update info">
                <div> Joined since <em th:text="${#temporals.format(user.registration_date, 'dd/MM/yyyy HH:mm')}"></em></div>
            </div>-->
        </div>
    </div>
</div>
</body>