<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <object th:include="include-res::links" th:remove="tag"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
  	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Sights</title>
  </head>

  <body>
    <div th:replace="header :: header">&nbsp;</div>
     
     <div class="container">
      
      <!-- Modal dialog -->
      <div class="modal fade" id="modal-dialog" role="dialog">
		 <div class="modal-dialog">
		  <div class="modal-content">
		   <div class="modal-body" style="padding:40px 50px;">
		     <p>Are you sure?</p>
		     <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <div class="pull-right">
			         <button type="submit" class="btn btn-default" id="modal-dialog-cancel-btn">Cancel</button>
			         <button type="submit" class="btn btn-primary" id="modal-dialog-ok-rm-sight-btn">OK</button>
			      </div>
			    </div>
			 </div>
		   </div>
		  </div>
		 </div>
	  </div>
      
      <!-- Modal form -->
	  <div class="modal fade" id="modal-form" role="dialog">
		 <div class="modal-dialog">
		  <div class="modal-content">
		   <div class="modal-body" style="padding:40px 50px;">
			 <div class="row">
			    
			      <form class="form-horizontal" role="form">
			        <fieldset>
			
			          <!-- Form Name -->
			          <legend>Sight details</legend>
					  <p class="validateTips">All form fields are required.</p> 
					  <input type="hidden" name="sight_id" value="0" id="sight_id">
			          <!-- Text input-->
			          <div class="form-group">
			            <label class="col-sm-2 control-label" for="textinput">Country code</label>
			            <div class="col-sm-10">
			              <input type="text" id="code" placeholder="Country code" class="form-control">
			            </div>
			          </div>
			
					  <!-- Text input-->
			          <div class="form-group">
			            <label class="col-sm-2 control-label" for="textinput">Text</label>
			            <div class="col-sm-10">
			              <input type="text" id="label" placeholder="Name" class="form-control">
			            </div>
			          </div>
			
			          <!-- Text input-->
			          <div class="form-group">
			            <label class="col-sm-2 control-label" for="textinput">Description</label>
			            <div class="col-sm-10">
			              <input type="text" id="description" placeholder="Description" class="form-control">
			            </div>
			          </div>
			          
			          <div class="form-group">
			            <div class="col-sm-offset-2 col-sm-10">
			              <div class="pull-right">
			                <button type="submit" class="btn btn-default" id="modal-form-cancel-btn">Cancel</button>
			                <button type="submit" class="btn btn-primary" id="modal-form-save-sight-btn">Save</button>
			              </div>
			            </div>
			          </div>
			
			        </fieldset>
			      </form>
			 </div><!-- /.row -->
			</div>
		   </div>
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal fade -->
        <!-- End of modal form -->
     <input id="add-sight-btn" class="ui-button ui-widget ui-corner-all" type="submit" value="New">
     <div th:if="${not #lists.isEmpty(country_sights) and country_sights != null}">
      <div class="blog-header">
   		<p class="lead blog-description">Counry sights</p>
   	  </div>
   	  
   	  <input id="update-sight-btn" class="ui-button ui-widget ui-corner-all" type="submit" value="Update">
   	  <input id="delete-sight-btn" class="ui-button ui-widget ui-corner-all" type="submit" value="Delete">
      <table id="crud-tbl" class="table table-bordered">
			<thead>
				<tr>
					<th with="80">Sight id</th>
					<th width="80">Country code</th>
					<th width="120">Name</th>
					<th width="120">Description</th>
					<th width="120">Go further</th>
				</tr>
			</thead>
			<tbody>
				<tr class="clickable-row" th:each="sight: ${country_sights}">
				    <td th:text="${sight.sightId}"></td>
					<td th:text="${sight.countryCode}"></td>
					<td th:text="${sight.label}"></td>
					<td th:if="${not #lists.isEmpty(sight.description)}" th:text="${sight.description}"></td>
					<td><a href="#" th:href="@{/posts/sight/{sight_id}(sight_id=${sight.sightId})}" th:text="Open"></a></td>
				</tr>
			</tbody>
		</table>
	  </div> 
    </div>
    <div class="blog-footer" th:replace="fragments :: footer">&copy; Kverchi</div>

  </body>
</html>