<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/sitelayout" ng-app="signup">
<head>
    <meta charset="UTF-8">
    <object th:include="include-res::links" th:remove="tag"/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>

    <script type="text/javascript" th:src="@{/resources/js/app.js}"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="#{signup}">Sigh up</title>
</head>
<body>
    <div th:replace="header :: header">&nbsp;</div>

    <div class="container">
        <div class="row" ng-controller="userController">
            <div class="col-md-6 col-md-offset-4">
                <legend th:text="#{signup.label}">Registration</legend>
                <md-content layout-padding>
                    <div th:replace="fragment/signupForm :: form"></div>
                    <div id="signupResult"></div>
                </md-content>
            </div>
        </div>
    </div>

<div layout="column" ng-cloak>
</div>
</body>
</html>