<!-- Template from https://startbootstrap.com/template-overviews/blog-post/ -->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <object th:include="include-res::links" th:remove="tag"/>
    <title>Post</title>
  </head>
   <body>
    <div th:replace="header :: header">&nbsp;</div>
    <div class="container">
	 <div class="row">
	   	<div class="col-lg-8">
	   		<h4 th:text="${post.title}"/>
	   		<p class="lead">
			   by <span  th:text="${post.user.username}">someone</span>
			</p>
			<hr>
			<p>
			<span class="glyphicon glyphicon-time" th:text="${post.post_datetime}">Posted on August 24, 2013 at 9:00 PM</span>
				
			</p>
			<hr>
			<img class="img-responsive" src="http://placehold.it/900x300" alt="">
			
			<hr>
			<!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p> -->
			<p th:text="${post.text}"/>
			<hr>
			
			<!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well" sec:authorize="isAuthenticated()">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <div class="media" th:if="${not #lists.isEmpty(comments)}" th:each="comment: ${comments}">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                        	
                           <!--  <small>August 25, 2014 at 9:30 PM</small> -->
                        </h4>
                        <p th:text="${comment.comment_datetime}"/>
                        <p th:text="${comment.user.username}"/>
                        <p th:text="${comment.text}"/>
                    </div>
				</div>
			
		</div>
	 </div>
	</div>
  </body>
</html>