<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div id="posts-block" th:fragment="postContent">
		<span th:if="${not #lists.isEmpty(posts)}" th:attr="data-total-pages=${totalPages}">
			<div class="post" th:each="post: ${posts}">
                <!-- Each post -->
                <div class="panel">
                    <div class="panel-heading">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h4 class="pull-left" th:text="${post.title}">Welcome</h4>
                                </div>
                                <div class="col-sm-3">
                                    <p class="pull-right">
                                        by <a th:href="@{/users/profile/{username} (username=${post.user.username})}"
                                              th:text="${post.user.username}">someone</a>
                                        <small><em th:text="${#temporals.format(post.postDatetime, 'dd/MM/yyyy HH:mm')}">dd.dd.dd</em></small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body" th:utext="${post.description}">Description</div>

                    <div class="panel-footer">
						<span><a href="#"
                                 th:href="@{/posts/{postId}(postId=${post.postId}) }">Read
                            more</a></span>

                    </div>
                </div>
                <!-- end of post -->
            </div>
        </span>
		<span th:if="${#lists.isEmpty(posts)}">
			<div>No posts found.</div>
		</span>
</div>
</body>
</html>