<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
</head>
<body>
<span class="label-large" th:fragment="authWishedLabel"
      th:title="${wishCounter - 1 == 0} ? #{sight.wished.counter.auth.only.label} :
      #{sight.wished.counter.auth.label(${wishCounter - 1})}">
            <span class="label label-info">
                <em th:text="${wishCounter}"></em>
                <span class="glyphicon glyphicon-plane"></span>
            </span>
</span>
<span class="label-large" th:fragment="wishedLabel"
      th:title="#{sight.wish.counter(${wishCounter})}">
            <span class="label label-info">
                <em th:text="${wishCounter}"></em>
                <span class="glyphicon glyphicon-plane"></span>
            </span>
</span>
<button type="submit" id="add-wish-btn" class="btn btn-default btn-primary"
        th:fragment="addWishButton"
        th:title="#{sight.wish.counter(${wishCounter})}">
    <em th:text="${wishCounter}"></em>
    <span class="glyphicon glyphicon-plane"></span>
</button>

<span class="label-large" th:fragment="authVisitedLabel"
      th:title="${visitCounter - 1 == 0} ? #{sight.visited.counter.auth.only.label} :
      #{sight.visited.counter.auth.label(${visitCounter - 1})}">
            <span class="label label-info">
                <em th:text="${visitCounter}"></em>
                <span class="glyphicon glyphicon-map-marker"></span>
            </span>
</span>

<span class="label-large" th:fragment="visitedLabel"
      th:title="#{sight.visit.counter(${visitCounter})}">
            <span class="label label-info">
                <em th:text="${visitCounter}"></em>
                <span class="glyphicon glyphicon-map-marker"></span>
            </span>
</span>

<button type="submit" id="add-visit-btn" class="btn btn-default btn-primary"
        th:fragment="addVisitButton"
        th:title="#{sight.visit.counter(${visitCounter})}">
    <em th:text="${visitCounter}"></em>
    <span class="glyphicon glyphicon-map-marker"></span>
</button>
</body>