<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div id="inbox" th:fragment="inbox">
    <div class="list-group">
        <a th:if="${not #lists.isEmpty(recentMessages) and recentMessages != null}"
           th:each="recentMsg: ${recentMessages}"
           href="#" th:classappend="${recentMsg.read != true and #authentication.name != recentMsg.sender.username} ?
                      'list-group-item-success' : 'list-group-item-warning' "
           class="list-group-item"
           th:attr="data-convid=${recentMsg.conversation.conversationId}">
            <span th:text="${recentMsg.conversation.user1.username}">Funny person</span>
            <span> & </span>
            <span class="name"
                  th:text="${recentMsg.conversation.user2.username}">Good fellow</span>
            <span class="inbox-content">
                <span th:switch="${recentMsg.sender.username}">
                    <span th:case="${#authentication.name}" th:text="${#strings.concat('You', ':')}"></span>
                    <span th:case="*" th:text="${recentMsg.sender.username} + ':'"></span>
                </span>
                <span class="name" th:text="${recentMsg.text}">Nice work on the lastest version</span>
                <span class="badge pull-right"
                      th:text="${#temporals.format(recentMsg.sentDatetime, 'dd/MM/yyyy HH:mm')}">12:10 AM</span>
            </span>
        </a>
    </div>
</div>
<div id="conversation" th:fragment="conversation">
    <!-- Chat template was took from https://www.bootply.com/6mdOs5FvKU -->
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span>+<span th:if="${unreadMessagesCount != 0}" th:text="${unreadMessagesCount}"></span></span>
                    Chat
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                Away</a></li>
                            <li class="divider"></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a></li>
                        </ul>
                    </div>
                </div>

                <div id="msg-container" class="panel-body">
                    <span>Conversation ID: </span>
                    <span class="conversationId" th:text="${currentConversation.conversationId}"></span>
                    <ul class="chat" th:attr="data-convid=${currentConversation.conversationId}">
                            <span th:fragment="more"
                                  th:if="${not #lists.isEmpty(conversationMessages) and conversationMessages != null}"
                                  th:each="msg: ${conversationMessages}">
                            <li th:if="${#authentication.name != msg.sender.username}"
                                class="left clearfix"
                                th:classappend="${msg.read} ? '' : 'list-group-item-success' "
                                th:onclick="${'setMessageAsRead()'}"
                                th:attr="data-msgid=${msg.messageId}">

                                <div class="pull-left">
                                    <div class="header">
                                        <div><strong th:text="${msg.sender.username}">Jack Sparrow</strong></div>
                                        <small class="text-muted">
                                            <span class="glyphicon glyphicon-time"></span>
                                            <span th:text="${#temporals.format(msg.sentDatetime, 'dd/MM/yyyy HH:mm')}">12 mins ago</span>
                                        </small>
                                    </div>
                                    <p th:text="${msg.text}">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                        ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                            <li th:if="${#authentication.name == msg.sender.username}"
                                class="right clearfix" th:attr="data-msgid=${msg.messageId}">

                                <div class="pull-right">
                                    <div class="header">
                                        <div><strong th:text="${msg.sender.username}">Bhaumik Patel</strong></div>
                                        <small class=" text-muted">
                                            <span class="glyphicon glyphicon-time"></span>
                                            <span th:text="${#temporals.format(msg.sentDatetime, 'dd/MM/yyyy HH:mm')}">12 mins ago</span>
                                        </small>
                                    </div>
                                    <p th:text="${msg.text}">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                        ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                          </span>
                    </ul>
                    <p class="text-center">
                        <a id="more-messages" onclick="loadMoreMessages()">Show more messages</a>
                    </p>
                </div>

                <div class="panel-footer">
                    <div class="input-group">
                        <input id="msg-input" type="text" class="form-control input-sm"
                               placeholder="Type your message here...">
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-msg-send" onclick="sendMessage();">
                                    Send
                                </button>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>