<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="inbox" th:fragment="inbox">
        <div class="list-group"
             th:if="${not #lists.isEmpty(recentMessages) and recentMessages != null}"
             th:each="recentMsg: ${recentMessages}">
            <a href="#" th:classappend="${recentMsg.read} ? 'list-group-item-warning' : 'list-group-item-success' " class="list-group-item">
                <span>
                    <label>
                        <input type="checkbox">
                    </label>
                </span>
                <span class="conversationId" th:text="${recentMsg.conversation.conversationId}"/>
                <span class="name" th:text="${recentMsg.user.username}" style="min-width: 120px;display: inline-block;">Mark Otto</span>
                <span th:text="${recentMsg.text}">Nice work on the lastest version</span>
                <span class="badge" th:text="${#temporals.format(recentMsg.sentDatetime, 'dd/MM/yyyy HH:mm')}">12:10 AM</span>
            </a>
        </div>
    </div>
<div id="conversation" th:fragment="conversation">
    <!-- Chat template was took from https://www.bootply.com/6mdOs5FvKU -->

        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span> Chat
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                    Away</a></li>
                                <li class="divider"></li>
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                    Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <span>Conversation ID: </span><span th:text="${currentConversationId}"></span>
                        <ul class="chat"
                            th:if="${not #lists.isEmpty(conversationMessages) and conversationMessages != null}"
                            th:each="msg: ${conversationMessages}">
                            <li th:if="${#authentication.name != msg.user.username}" class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font" th:text="${msg.user.username}">Jack Sparrow</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>
                                        <span th:text="${#temporals.format(msg.sentDatetime, 'dd/MM/yyyy HH:mm')}">12 mins ago</span></small>
                                    </div>
                                    <p th:text="${msg.text}">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                            <li th:if="${#authentication.name == msg.user.username}" class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-circle">
                        </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>
                                            <span th:text="${#temporals.format(msg.sentDatetime, 'dd/MM/yyyy HH:mm')}">12 mins ago</span>
                                        </small>
                                        <strong class="pull-right primary-font" th:text="${msg.user.username}">Bhaumik Patel</strong>
                                    </div>
                                    <p th:text="${msg.text}">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>


                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="msg-input" type="text" class="form-control input-sm"
                                   placeholder="Type your message here...">
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-msg-send" onclick="sendName();">
                                    Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
</body>
</html>