<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>
<body>
<div id="user-info" th:fragment="userInfo">



    <!--<div th:if="${!#lists.isEmpty(user.information)}" th:text="${user.information}" id="current-info"></div>
    <div th:if="${#lists.isEmpty(user.information)}" id="current-info">No information found</div>-->
    <div id="current-info" th:if="${!#lists.isEmpty(user.information)}" th:text="${user.information}"></div>
    <span th:if="${#lists.isEmpty(user.information)}" th:text="#{user.info.empty}">No information found</span>

   <!-- This button triggers showing Bootstrap modal form.
        This button loads in angularjs nav-bar.
        id.click event doesn't work from dynamically loaded nav-bar page. -->
    <a href="#" id="update-info-btn" class="btn btn-info top-row-buffer" role="button" onclick="showModalDialog();"
       th:text="#{user.info.edit}">Edit info</a>

</div>
<div id="user-statistic" th:fragment="userStatistic">
    <p> <span th:text="#{user.statistic.joined}">Joined since</span>
        <em th:text="${#temporals.format(user.registration_date, 'dd/MM/yyyy HH:mm')}">Some date</em>
    </p>

    <table id="crud-tbl" class="table table-bordered">

        <thead>
        <tr>
            <th width="80" th:text="#{user.statistic.session.ip}">IP</th>
            <th width="80" th:text="#{user.statistic.session.city}">City</th>
            <th width="120" th:text="#{user.statistic.session.postal}">Postal</th>
            <th width="120" th:text="#{user.statistic.session.state}">State</th>
            <th width="120" th:text="#{user.statistic.session.os}">OS</th>
            <th width="120" th:text="#{user.statistic.session.active}">Is active?</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userLog : ${userActivityLogList}">
            <td th:text="${userLog.login_ip}"></td>
            <td th:text="${userLog.city}"></td>
            <td th:text="${userLog.postal}"></td>
            <td th:text="${userLog.state}"></td>
            <td th:text="${userLog.osInfo}"></td>
            <td th:text="${userLog.active_session}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
