<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>
<body>
<div id="user-info" th:fragment="userInfo">
    <div id="current-info" th:text="${!#lists.isEmpty(user.information)} ? ${user.information} : #{user.info.empty}">
    </div>

   <!-- This button triggers showing Bootstrap modal form.
        This button loads in angularjs nav-bar.
        id.click event doesn't work from dynamically loaded nav-bar page. -->
    <a href="#" id="update-info-btn" class="btn btn-info top-row-buffer" role="button" onclick="showModalDialog();"
       th:text="#{user.info.edit}">Edit info</a>

</div>
<div id="user-statistic" th:fragment="userStatistic">
    <p> <span th:text="#{user.statistic.joined}">Joined since</span>
        <em th:text="${#temporals.format(user.registration_date, 'dd/MM/yyyy HH:mm')}">Some date</em>
    </p>

    <table class="table table-bordered">

        <thead>
        <tr>
            <th width="80" th:text="#{user.statistic.session.ip}">IP</th>
            <th width="120" th:text="#{user.statistic.session.os}">OS</th>
            <th width="120" th:text="#{user.statistic.session.browser}">Browser</th>
            <th width="120" th:text="#{user.statistic.session.active}">Is active?</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userLog : ${userActivityLogList}">
            <td th:text="${userLog.loginIp}"></td>
            <td th:text="${userLog.osInfo}"></td>
            <td th:text="${userLog.browserInfo}"></td>
            <td th:text="${userLog.activeSession}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="user-favorite" th:fragment="userFavorite">
    <h3 th:text="#{user.favorite.wishes}"></h3>
    <table class="table table-bordered" th:if="${not #lists.isEmpty(userWishedSights)}">
        <thead>
        <tr>
            <th width="80" th:text="#{user.favorite.label}">Label</th>
            <th width="120" th:text="#{user.favorite.description}">Description</th>
            <th width="120" th:text="#{user.favorite.country}">Country</th>
        </tr>
        </thead>
        <tbody th:each="userWish : ${userWishedSights}">
        <tr>
               <!--<a th:href="@{/posts/sight/{sight_id}(sight_id=${userWish.sightId})}">Link</a>-->
            <td th:text="${userWish.label}"></td>
            <td th:text="${userWish.description}"></td>
            <td th:text="${userWish.country.name}"></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${#lists.isEmpty(userWishedSights)}">
        <span th:text="#{user.favorite.no.wishes}"></span>
    </div>
    <h3 th:text="#{user.favorite.visits}"></h3>
    <table class="table table-bordered" th:if="${not #lists.isEmpty(userVisitedSights)}">
        <thead>
        <tr>
            <th width="80" th:text="#{user.favorite.label}">Label</th>
            <th width="120" th:text="#{user.favorite.description}">Description</th>
            <th width="120" th:text="#{user.favorite.country}">Country</th>
        </tr>
        </thead>
        <tbody>
           <tr th:each="userVisit : ${userVisitedSights}">
              <a th:href="@{/posts/sight/{sight_id}(sight_id=${userVisit.sightId})}">
                <td th:text="${userVisit.label}"></td>
                <td th:text="${userVisit.description}"></td>
                <td th:text="${userVisit.country.name}"></td>
              </a>
           </tr>
        </tbody>
    </table>
    <div th:if="${#lists.isEmpty(userVisitedSights)}">
        <span th:text="#{user.favorite.no.visits}"></span>
    </div>
</div>
</body>
