<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Inspire me!</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Where to go</a>
      <a class="nav-item nav-link" href="#">What to read</a>
      <a class="nav-item nav-link" href="#">What to watch/listen</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/registration">
        <i class="fa fa-user-plus"></i> Sign Up
      </a>
      <a class="nav-item nav-link" routerLink="/login">
        <i class="fa fa-sign-in"></i> Login
      </a>
    </div>
  </div>
</nav>